<table>
{{form_start(formA)}}
<tr> 
<td>{{form_label(formA.nsc,"your inscrciption number")}}</td>
<td>{{form_widget(formA.nsc)}}</td>
<td>{{form_errors(formA.nsc)}}</td>
</tr>
<tr> 
<td>{{form_label(formA.email,"your email")}}</td>
<td>{{form_widget(formA.email)}}</td>
<td>{{form_errors(formA.email)}}</td>
<tr> 
{{form_end(formA)}}
</table>