<h1> liste Student
<a href="{{path('adds')}}" > ajouter </a>   </h1>

<table border=5>
{%for c in stud %}
<tr>
<td> {{c.nsc}} </td>
<td> {{c.email}}  </td>
<td> {{c.classroom.name}}  </td>
<td> <a href="{{path('updates',{'nsc':c.nsc})}}" > edit</a>
<a href="{{path('deletes',{'nsc':c.nsc})}}" > delete</a> </td>
</tr>
{% endfor %}
</table>